a[data-info~='external'] {
  color: red;
}
a[data-info~='image'] {
  border: 1px solid black;
}

/* Применится ко всем тегам с классом title */
.title {
  font-weight: 500;
}

/* Применится ко всем тегам с классом text */
.text {
  color: brown;
  font-size: 18px;
}

/* Применится ко всем тегам с классом link */
.link {
  text-decoration: none;
}

.notification {
  font-size: 24px;
  font-weight: 500;
}

.success {
  color: green;
}

.warning {
  color: orange;
}

.error {
  color: red;
}

#title {
  font-weight: 500;
  color: orange;
}

/* Применится только к ссылкам которые лежат внутри тега с классом social-links */
.social-links a {
  color: blue;
  text-decoration: none;
}

.menu > li {
  border: 2px solid blue;
}
a[title] {
  color: teal;
}

.link {
  color: teal;
}

.link:hover {
  color: orange;
}

.social-links .link {
  color: teal;
}

.social-links .link:hover {
  color: orange;
}

pre {
  font-family: 'Arial', 'Helvetica', sans-serif;
  color: #2a2a2a;
  font-size: 16px;
}

pre::first-letter {
  font-family: 'Tahoma', serif;
  font-size: 32px;
  color: #f44336;
}

pre::selection {
  color: #ffffff;
  background-color: #3f51b5;
}

/* 5theme */
.box {
  /* Контролируют ширину и высоту элемента */
  width: 150px;
  height: 150px;

  /* Устанавливает рамку */
  border: 5px solid #2a2a2a;

  /* Добавляет внутреннее поле */
  padding: 30px;

  /* Устанавливает внешние отступы */
  margin: 100px;

  background-color: #009688;
}

.box {
  /* Установит стили верхней рамки */
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: blue;

  /* Установит стили правой рамки */
  border-right-width: 5px;
  border-right-style: dotted;
  border-right-color: black;

  /* Установит стили нинжней рамки */
  border-bottom-width: 7px;
  border-bottom-style: dashed;
  border-bottom-color: palevioletred;

  /* Установит стили левой рамки */
  border-left-width: 9px;
  border-left-style: dashed;
  border-left-color: green;
}

.box {
  border-radius: 8px;
}

.box {
  width: 400px;
  height: 200px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.text {
  background-color: teal;
  color: white;

.text {
  background-color: teal;
  color: white;
  padding-left: 20px;
  padding-right: 20px;

  padding-top: 100px;
  padding-bottom: 100px;
}

.pane {
  padding: 8px;
  border: 1px solid blue;
  border-radius: 3px;
}

.is-hidden {
  display: none;
}



/* 11 theme */
